<div class="row bg-light py-1 px-4" >
	
	<div class="col bg-light my-2" id="divId">

		<canvas class="" id="canvas" height="700" width="1000"></canvas>

	</div>
	
	<div class="col bg-info my-2">
		<div class="row p-2">
			<div class="input-group col">
				<div class="input-group-prepend">
					<label class="input-group-text">X:</label>
				</div>
				<input class="form-control" type="text" id="param_x">
			</div>
			
			<div class="btn-group col">
				<button class="btn btn-success" onclick="onClickAdd()"><span>&#43;</span></button>
				<button class="btn btn-danger" onclick="onClickRemove()"><span>&#8722;</span></button>
				<button class="btn btn-dark" onclick="onClick()">OK</button>
			</div>
		</div>
		
		<div col bg-info p-2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Bant</th>
						<th scope="col">Yukseklik</th>
						<th scope="col">Cift</th>
						<th scope="col">Tek</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<!-- js yazdirir -->
				</tbody>
			</table>	
		</div>
	</div>
</div>

<script type="text/javascript">
	var canvas_temp = document.getElementById("canvas");
	var ctx = canvas_temp.getContext("2d");
	var counter = 0;
	var moveX = 0 , moveY = 0;

	function kesim(params = {x:0, h:0, c:1, t:1}){
		if (params.x == 0 || params.h == 0 || params.c == 0 || params.t == 0){
			alert("Parametreleri giriniz!");
		}

		return params.x - (params.h*params.t / (2*params.c+params.t));
	}

	function cizim(kordinat = {x:0, y:0, moveX:0, moveY:0}){
		if(counter == 0){
			counter++;
			ctx.beginPath();
			ctx.moveTo(moveX, moveY);
			ctx.lineTo(kordinat.x, kordinat.y);
			ctx.lineWidth = 1;
			ctx.stroke();
			moveX = kordinat.x;
			moveY = kordinat.y;
		}
		else{
			counter++;
			ctx.beginPath();
			ctx.moveTo(moveX, moveY);
			ctx.lineTo(kordinat.x, kordinat.y);
			ctx.lineWidth = 1;
			ctx.stroke();
			moveX = kordinat.x;
			moveY = kordinat.y;
		}
	}
	function cizim2(kordinat = {x:0, y:0, moveX:0, moveY:0}){ // cizim1 ve cizim2 yi birlestir
		ctx.beginPath();
		ctx.moveTo(kordinat.moveX, kordinat.moveY);
		ctx.lineTo(kordinat.x, kordinat.y);
		ctx.lineWidth = 1;
		ctx.stroke();
	}

	function h_toplam(h=[], bant=0){
		var toplam = 0;
		for (var i = 0; i < bant; i++) {
			toplam+=h[i]
		}
		return toplam;
	}

	function kesim_cizim(params){
				cizim({
					x: params.x[0], 
					y: 0, 
					moveX: 0, 
					moveY: 0
				});
			
		for (var bant = 0; bant < params.bant; bant++) {
				params.x[bant+1] = kesim({x:params.x[bant], h:params.h[bant], c:params.c[bant], t:params.t[bant]});
			for (var cizgi = 0; cizgi < 3; cizgi++){
				cizim({
					x: (params.x[bant] + params.x[bant+1])/2, 
					y: h_toplam(params.h, bant+1), 
					moveX: params.x[bant], 
					moveY: 0
				});
				cizim({
					x: (params.x[bant] - params.x[bant+1])/2, 
					y: h_toplam(params.h, bant+1), 
					moveX: (params.x[bant] + params.x[bant+1])/2, 
					moveY: h_toplam(params.h, bant+1)
				});
				cizim({
					x: 0, 
					y: 0, 
					moveX: (params.x[bant] - params.x[bant+1])/2, 
					moveY: h_toplam(params.h, bant+1)
				});

				// var y = kesim(params)
				// cizim({x:params.x, y:params.h});
			}			
		}
	}

	var ele_counter = -1;
	function onClick(){
		var x = [parseInt(document.getElementById("param_x").value)];
		var h = [];
		var c = [];
		var t = [];

		for(var i = 0; i <= ele_counter; i++) {
			h[i] = parseInt(document.getElementById("b"+i+"h").value);
			c[i] = parseInt(document.getElementById("b"+i+"c").value);
			t[i] = parseInt(document.getElementById("b"+i+"t").value);
		}

		var params = {
			x: x,
			h: h, 
			c: c, 
			t: t,
			bant: ele_counter+1,
		}

		console.log(params);

		if (!params.x || h.length != ele_counter+1 || h.length != ele_counter+1 || h.length != ele_counter+1){
			alert("Parametreleri giriniz!");
			window.location.reload(false);
		}

		kesim_cizim(params);
	}

	function onClickAdd(){
		ele_counter++;
		var td0 = td({text:("b"+ele_counter)});
		var td1 = td({child:input({class:"form-control", type:"text", id:"b"+ele_counter+"h"})});
		var td2 = td({child:input({class:"form-control", type:"text", id:"b"+ele_counter+"c"})});
		var td3 = td({child:input({class:"form-control", type:"text", id:"b"+ele_counter+"t"})});

		var tr0 = tr({id:("tr"+ele_counter)});
		tr0.appendChild(td0);
		tr0.appendChild(td1);
		tr0.appendChild(td2);
		tr0.appendChild(td3);

		var tbody = document.getElementById("tbody");
		tbody.appendChild(tr0);

	}

	function onClickRemove(){
		var element = document.getElementById("tr"+ele_counter);
		element.parentNode.removeChild(element);
		ele_counter--;
	}

</script>

